/* HTML */
$gray-100: rgba(0, 0, 0, 0.09);
$gray-200: rgba(0, 0, 0, 0.15);
$yellow-100: hsla(39, 90%, 58%,.4);
$green-100: rgb(36, 219, 171);
$yellow-100: rgb(254, 214, 105);
$orange-100: rgb(252, 152, 72);

/* TEXT */
$gray-txt-100: #585858;